@font-face {
  font-family: Cabolafe;
  src: url("../assets/Cabolafe.otf");
}

:root {
  --blue: #6f8cff;
  --dark-blue: #001dc0;
  --darker-blue: #0b0072;
  --orange: #ffaa42;
  --dark-orange: #ff9900;
  --darker-orange: #bb6700;
  --white: #ffffff;
  --black: #000000;
}

/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/
body {
  background-color: black;
  min-height: 5000px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  top: -63px;
  position: relative;
  font-family: Cabolafe;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/img_arriere_plan/arriere_header_00000.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Cabolafe;
  color: var(--white);
}

header h1 {
  text-align: center;
  position: relative;
  top: 10%;
  font-size: 5vw;
  text-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

header p {
  position: relative;
  top: 70vh;
  text-align: center;
  font-size: 1vh;
}

.appel {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 2%;
  left: 50%;
  color: white;
}

.fleche-01,
.fleche-02,
.fleche-03 {
  width: 2vw;
}

footer {
  text-align: center;
  color: white;
}

main {
  margin: 0;
}

/*---------------------------------------------------------- 
# Chapitre 1
----------------------------------------------------------*/

#chap-1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/img_arriere_plan/chapitre_01_grenier.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  aspect-ratio: 16/9;
  border: 1px red;
  opacity: 0;
  overflow: hidden;
}

#chap-1 .jack {
  position: absolute;
  top: 50%;
  left: 20%;
  height: 40%;
  opacity: 0;
}

.micro {
  position: absolute;
  top: 65%;
  right: 20%;
  width: 30%;
  height: 40%;
}

#chap-titre-1 {
  position: absolute;
  color: var(--white);
  right: 25%;
  top: 15%;
  font-size: 5vw;
  font-family: Cabolafe;
  opacity: 0;
}

#date-1 {
  position: absolute;
  color: var(--white);
  right: 25%;
  top: 15%;
  font-size: 5vw;
  font-family: Cabolafe;
  opacity: 0;
}

.micro-big {
  position: absolute;
  left: -100%;
  top: -70%;
  width: 300%;
  height: 300%;
  transform: scale(0);
}

#micro-text-1 {
  position: absolute;
  left: 35%;
  top: 45%;
  width: 20%;
  height: 20%;
  opacity: 0;
}

#micro-text-2 {
  position: absolute;
  left: 35%;
  top: 45%;
  width: 20%;
  height: 20%;
  opacity: 0;
}

#cercle-transition {
  position: absolute;
  left: 37%;
  top: 45%;
  width: 20%;
  height: 20%;
  transform: scale(0);
}
.dialog-1 {
  position: absolute;
  color: white;
  top: 20%;
  right: 20%;
  font-size: 1.2em;
  opacity: 0;
}

.dialog-2 {
  position: absolute;
  color: white;
  bottom: 20%;
  right: 20%;
  font-size: 1.2em;
  text-align: center;
  opacity: 0;
  z-index: 2;
}

/*---------------------------------------------------------- 
# Chapitre 2
----------------------------------------------------------*/
#chap-2 {
  position: relative;
  width: 100vw;
  height: 1080px;
  background-image: url("../img/img_arriere_plan/chapitre_02_foret.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#cercle-transition-2 {
  position: absolute;
  left: 37%;
  top: 45%;
  width: 20%;
  height: 20%;
  transform: scale(12);
  z-index: 2;
}

#feuille-1 {
  position: absolute;
  left: -10vw;
  top: 10%;
  height: 15vw;
}

#feuille-2 {
  position: absolute;
  left: -50vw;
  top: 50%;
  height: 20vw;
  z-index: 1;
}

#arbre {
  position: absolute;
  bottom: 0%;
  left: -30%;
  height: 70vw;
}

#dinosaure {
  position: absolute;
  bottom: 0%;
  left: -10%;
  height: 50vw;
  opacity: 0;
}

.jack-2 {
  position: absolute;
  bottom: 8%;
  right: 20%;
  height: 25%;
  transform: scaleX(-1);
}

#chap-titre-2 {
  position: absolute;
  color: var(--white);
  right: 25%;
  top: 15%;
  font-size: 5vw;
  font-family: Cabolafe;
  opacity: 0;
}

#date-2 {
  position: absolute;
  color: var(--white);
  right: 25%;
  top: 15%;
  font-size: 5vw;
  font-family: Cabolafe;
  opacity: 0;
}

.danger {
  position: absolute;
  width: 10vw;
  transform: rotate(80deg);
  top: 50%;
  right: 40%;
  opacity: 0;
}

.micro-2 {
  position: absolute;
  width: 10vw;
  bottom: 5%;
  right: 30%;
}
.marche {
  position: absolute;
  width: 2vw;
  bottom: 15%;
  right: 40%;
  opacity: 0;
}

#cercle-transition-3 {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20%;
  height: 20%;
  z-index: 3;
  transform: scale(0);
}

.dialog-3 {
  position: absolute;
  color: white;
  top: 20%;
  right: 20%;
  font-size: 1.2em;
  opacity: 0;
}

.dialog-4 {
  position: absolute;
  color: white;
  bottom: 20%;
  right: 20%;
  font-size: 1.2em;
  opacity: 0;
}
/*---------------------------------------------------------- 
# Chapitre 3
----------------------------------------------------------*/
#chap-3 {
  position: relative;
  width: 100vw;
  height: 1080px;
  background-image: url("../img/img_arriere_plan/chapitre_03_rome.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#soldat_rome {
  position: absolute;
  bottom: 27%;
  left: 10%;
  height: 55%;
  opacity: 0;
}

#bg-2 {
  position: absolute;
  width: 100vw;
  height: 1080px;
  top: -15%;
  transform: scale(1.2);
  background-image: url("../img/img_arriere_plan/chapitre_03_rome_2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%
}

#chap-titre-3 {
  position: absolute;
  color: var(--white);
  right: 25%;
  top: 15%;
  font-size: 5vw;
  font-family: Cabolafe;
  opacity: 0;
}

#date-3 {
  position: absolute;
  color: var(--white);
  right: 25%;
  top: 15%;
  font-size: 5vw;
  font-family: Cabolafe;
  opacity: 0;
}

.jack-3 {
  position: absolute;
  bottom: 25%;
  right: 20%;
  height: 50%;
  transform: scaleX(-1);
  opacity: 0;
}

#transition-slide-1 {
  position: absolute;
  height: 100%;
  left: 266vw;
  transform: scale(3);
}

.dialog-5 {
  position: absolute;
  color: white;
  top: 15%;
  right: 30%;
  font-size: 1.2em;
}

.dialog-6 {
  position: absolute;
  color: white;
  bottom: 30%;
  right: 20%;
  font-size: 1.2em;
}
/*---------------------------------------------------------- 
# Chapitre 4
----------------------------------------------------------*/
#chap-4 {
  position: relative;
  width: 100vw;
  height: 1080px;
  background-image: url("../img/img_arriere_plan/chapitre_04_antartique.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#chap-4 #transition-slide-1 {
  position: absolute;
  height: 100%;
  right: 2200vw;
  transform: scale(3);
  z-index: 1;
}

#chap-titre-4 {
  position: absolute;
  color: var(--white);
  right: 25%;
  top: 15%;
  font-size: 5vw;
  font-family: Cabolafe;
}

#ours {
  position: absolute;
  bottom: 20%;
  left: 10%;
  height: 50%;
}

#chap-4-2 {
  position: relative;
  width: 100vw;
  height: 1080px;
  background-image: url("../img/img_arriere_plan/chapitre_04_ville_futuriste.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#soldat_future {
  position: absolute;
  top: 20%;
  left: 50%;
  height: 50%;
}

#ville-future {
  position: absolute;
  transform: scale(1.2);
  z-index: -1;
}
/*---------------------------------------------------------- 
# Chapitre 5
----------------------------------------------------------*/
#chap-5 {
  position: relative;
  width: 100vw;
  height: 1080px;
  background-image: url("../img/img_arriere_plan/chapitre_05_perdu_00000.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  aspect-ratio: 16/9;
}

#chap-5-2 {
  position: relative;
  width: 100vw;
  height: 1080px;
  background-image: url("../img/img_arriere_plan/chapitre_06_maison.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 16/9;
}

#grand_pere {
  position: absolute;
  bottom: 0%;
  right: 50%;
  width: 70%;
}

#etoile {
  visibility: hidden;
}

#chap-5 svg {
  position: absolute;
  top: 0%;
  transform: scale(4);
  transform-origin: 50% 50%;
}

/*---------------------------------------------------------- 
# Chapitre 6
----------------------------------------------------------*/
#chap-6 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/img_arriere_plan/chapitre_01_grenier.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px red;
  overflow: hidden;
}
/*---------------------------------------------------------- 
# Test
----------------------------------------------------------*/

/* Pour la première spritesheet */
body.is-scrolling #spritesheet,
body.is-scrolling #spritesheet_02 {
  animation-play-state: running;
}

#spritesheet {
  width: 50%;
  max-width: 100%;
  height: auto;
  background-image: url("../img/animation_01_spritesheet.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: playSprite 2s steps(29) infinite;
  animation-play-state: paused;
  margin: 0 auto;
}

#spritesheet_02 {
  width: 50%;
  max-width: 100%;
  height: auto;
  background-image: url("../img/animation_02_spritesheet.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: playSprite2 2s steps(48) infinite;
  animation-play-state: paused;
  margin: 0 auto;
}

@keyframes playSprite {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -31378px;
  }
}

@keyframes playSprite2 {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -51936px;
  }
}

ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li {
  margin: 5px 0;
}
