. {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.-micro-ondes_00000 {
    width: 180px;
    height: 180px;
    background-position: -1px -1px;
}

.-micro-ondes_00001 {
    width: 180px;
    height: 180px;
    background-position: -1px -183px;
}

.-micro-ondes_00002 {
    width: 180px;
    height: 180px;
    background-position: -1px -365px;
}

.-micro-ondes_00003 {
    width: 180px;
    height: 180px;
    background-position: -1px -547px;
}

.-micro-ondes_00004 {
    width: 180px;
    height: 180px;
    background-position: -1px -729px;
}

.-micro-ondes_00005 {
    width: 180px;
    height: 180px;
    background-position: -1px -911px;
}

.-micro-ondes_00006 {
    width: 180px;
    height: 180px;
    background-position: -1px -1093px;
}

.-micro-ondes_00007 {
    width: 180px;
    height: 180px;
    background-position: -1px -1275px;
}

.-micro-ondes_00008 {
    width: 180px;
    height: 180px;
    background-position: -1px -1457px;
}

.-micro-ondes_00009 {
    width: 180px;
    height: 180px;
    background-position: -1px -1639px;
}

.-micro-ondes_00010 {
    width: 180px;
    height: 180px;
    background-position: -1px -1821px;
}

.-micro-ondes_00011 {
    width: 180px;
    height: 180px;
    background-position: -1px -2003px;
}

.-micro-ondes_00012 {
    width: 180px;
    height: 180px;
    background-position: -1px -2185px;
}

.-micro-ondes_00013 {
    width: 180px;
    height: 180px;
    background-position: -1px -2367px;
}

.-micro-ondes_00014 {
    width: 180px;
    height: 180px;
    background-position: -1px -2549px;
}

.-micro-ondes_00015 {
    width: 180px;
    height: 180px;
    background-position: -1px -2731px;
}

.-micro-ondes_00016 {
    width: 180px;
    height: 180px;
    background-position: -1px -2913px;
}

.-micro-ondes_00017 {
    width: 180px;
    height: 180px;
    background-position: -1px -3095px;
}

.-micro-ondes_00018 {
    width: 180px;
    height: 180px;
    background-position: -1px -3277px;
}

.-micro-ondes_00019 {
    width: 180px;
    height: 180px;
    background-position: -1px -3459px;
}

.-micro-ondes_00020 {
    width: 180px;
    height: 180px;
    background-position: -1px -3641px;
}

.-micro-ondes_00021 {
    width: 180px;
    height: 180px;
    background-position: -1px -3823px;
}

.-micro-ondes_00022 {
    width: 180px;
    height: 180px;
    background-position: -1px -4005px;
}

.-micro-ondes_00023 {
    width: 180px;
    height: 180px;
    background-position: -1px -4187px;
}

.-micro-ondes_00024 {
    width: 180px;
    height: 180px;
    background-position: -1px -4369px;
}

.-micro-ondes_00025 {
    width: 180px;
    height: 180px;
    background-position: -1px -4551px;
}

.-micro-ondes_00026 {
    width: 180px;
    height: 180px;
    background-position: -1px -4733px;
}

.-micro-ondes_00027 {
    width: 180px;
    height: 180px;
    background-position: -1px -4915px;
}

.-micro-ondes_00028 {
    width: 180px;
    height: 180px;
    background-position: -1px -5097px;
}
