. {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.-sprite2_00001 {
    width: 180px;
    height: 180px;
    background-position: -1px -1px;
}

.-sprite2_00002 {
    width: 180px;
    height: 180px;
    background-position: -1px -183px;
}

.-sprite2_00003 {
    width: 180px;
    height: 180px;
    background-position: -1px -365px;
}

.-sprite2_00004 {
    width: 180px;
    height: 180px;
    background-position: -1px -547px;
}

.-sprite2_00005 {
    width: 180px;
    height: 180px;
    background-position: -1px -729px;
}

.-sprite2_00006 {
    width: 180px;
    height: 180px;
    background-position: -1px -911px;
}

.-sprite2_00007 {
    width: 180px;
    height: 180px;
    background-position: -1px -1093px;
}

.-sprite2_00008 {
    width: 180px;
    height: 180px;
    background-position: -1px -1275px;
}

.-sprite2_00009 {
    width: 180px;
    height: 180px;
    background-position: -1px -1457px;
}

.-sprite2_00010 {
    width: 180px;
    height: 180px;
    background-position: -1px -1639px;
}

.-sprite2_00011 {
    width: 180px;
    height: 180px;
    background-position: -1px -1821px;
}

.-sprite2_00012 {
    width: 180px;
    height: 180px;
    background-position: -1px -2003px;
}

.-sprite2_00013 {
    width: 180px;
    height: 180px;
    background-position: -1px -2185px;
}

.-sprite2_00014 {
    width: 180px;
    height: 180px;
    background-position: -1px -2367px;
}

.-sprite2_00015 {
    width: 180px;
    height: 180px;
    background-position: -1px -2549px;
}

.-sprite2_00016 {
    width: 180px;
    height: 180px;
    background-position: -1px -2731px;
}

.-sprite2_00017 {
    width: 180px;
    height: 180px;
    background-position: -1px -2913px;
}

.-sprite2_00018 {
    width: 180px;
    height: 180px;
    background-position: -1px -3095px;
}

.-sprite2_00019 {
    width: 180px;
    height: 180px;
    background-position: -1px -3277px;
}

.-sprite2_00020 {
    width: 180px;
    height: 180px;
    background-position: -1px -3459px;
}

.-sprite2_00021 {
    width: 180px;
    height: 180px;
    background-position: -1px -3641px;
}

.-sprite2_00022 {
    width: 180px;
    height: 180px;
    background-position: -1px -3823px;
}

.-sprite2_00023 {
    width: 180px;
    height: 180px;
    background-position: -1px -4005px;
}

.-sprite2_00024 {
    width: 180px;
    height: 180px;
    background-position: -1px -4187px;
}

.-sprite2_00025 {
    width: 180px;
    height: 180px;
    background-position: -1px -4369px;
}

.-sprite2_00026 {
    width: 180px;
    height: 180px;
    background-position: -1px -4551px;
}

.-sprite2_00027 {
    width: 180px;
    height: 180px;
    background-position: -1px -4733px;
}

.-sprite2_00028 {
    width: 180px;
    height: 180px;
    background-position: -1px -4915px;
}

.-sprite2_00029 {
    width: 180px;
    height: 180px;
    background-position: -1px -5097px;
}

.-sprite2_00030 {
    width: 180px;
    height: 180px;
    background-position: -1px -5279px;
}

.-sprite2_00031 {
    width: 180px;
    height: 180px;
    background-position: -1px -5461px;
}

.-sprite2_00032 {
    width: 180px;
    height: 180px;
    background-position: -1px -5643px;
}

.-sprite2_00033 {
    width: 180px;
    height: 180px;
    background-position: -1px -5825px;
}

.-sprite2_00034 {
    width: 180px;
    height: 180px;
    background-position: -1px -6007px;
}

.-sprite2_00035 {
    width: 180px;
    height: 180px;
    background-position: -1px -6189px;
}

.-sprite2_00036 {
    width: 180px;
    height: 180px;
    background-position: -1px -6371px;
}

.-sprite2_00037 {
    width: 180px;
    height: 180px;
    background-position: -1px -6553px;
}

.-sprite2_00038 {
    width: 180px;
    height: 180px;
    background-position: -1px -6735px;
}

.-sprite2_00039 {
    width: 180px;
    height: 180px;
    background-position: -1px -6917px;
}

.-sprite2_00040 {
    width: 180px;
    height: 180px;
    background-position: -1px -7099px;
}

.-sprite2_00041 {
    width: 180px;
    height: 180px;
    background-position: -1px -7281px;
}

.-sprite2_00042 {
    width: 180px;
    height: 180px;
    background-position: -1px -7463px;
}

.-sprite2_00043 {
    width: 180px;
    height: 180px;
    background-position: -1px -7645px;
}

.-sprite2_00044 {
    width: 180px;
    height: 180px;
    background-position: -1px -7827px;
}

.-sprite2_00045 {
    width: 180px;
    height: 180px;
    background-position: -1px -8009px;
}

.-sprite2_00046 {
    width: 180px;
    height: 180px;
    background-position: -1px -8191px;
}
